.register {
  text-align: center;
  margin: auto;
  max-width: 400px;
}

.register-header-image {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/f/ff/Icone_wikipedia_register_f.svg');
  background-size: cover; 
}

em {
  float: right;
  color: #E05C65;
  padding-left: 10px;
}
