<mat-card class="register">
  <mat-card-header>
    <div mat-card-avatar
         class="register-header-image"></div>
    <mat-card-title>Register</mat-card-title>
  </mat-card-header>

  <form [formGroup]="registerForm"
        (ngSubmit)="register()">

    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <mat-icon matSuffix>perm_contact_calendar</mat-icon>
      <input matInput
             formControlName="firstName">
      <mat-error *ngIf="registerForm.controls['firstName'].invalid">
        First name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <mat-icon matSuffix>face icon</mat-icon>
      <input matInput
             formControlName="lastName">
      <mat-error *ngIf="registerForm.controls['lastName'].invalid">
        Last name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <mat-icon matSuffix>email</mat-icon>
      <input matInput
             type="email"
             placeholder="email@something.com"
             formControlName="email">
      <mat-error *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty)">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <mat-icon matSuffix>password</mat-icon>
      <input matInput
             type="password"
             placeholder="**********"
             formControlName="password">
      <mat-error *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty)">
        Required</mat-error>
    </mat-form-field>


    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-icon matSuffix>status</mat-icon>
      <input matInput
             formControlName="status">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Gender</mat-label>
      <mat-icon matSuffix>gender</mat-icon>
      <input matInput
             formControlName="gender">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Age</mat-label>
      <mat-icon matSuffix>age</mat-icon>
      <input matInput
             formControlName="age">
    </mat-form-field>
 
    <mat-form-field>
      <mat-label>Working Place</mat-label>
      <mat-icon matSuffix>workingPlace</mat-icon>
      <input matInput
             formControlName="workingPlace">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Education</mat-label>
      <mat-icon matSuffix>school</mat-icon>
      <input matInput
             formControlName="education">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Country</mat-label>
      <mat-icon matSuffix>location_city</mat-icon>
      <input matInput
             formControlName="country">
    </mat-form-field>

    <mat-card-actions>
      <div mat-dialog-actions>
        <button mat-button
                mat-dialog-close
                cdkFocusInitial
                type="submit"
                value="Submit"
                [disabled]="registerForm.invalid">
          <mat-icon>login</mat-icon>
        </button>
        <div mat-dialog-actions>
          <button mat-button
                  mat-dialog-close>Close</button>
        </div>
        <button mat-button
                mat-dialog-close
                (click)="openLoginDialog()">Already member? Login</button>
      </div>
    </mat-card-actions>
  </form>
</mat-card>