<mat-toolbar class="navbar"
             color="primary">
    <img src="/assets/icons/sore-logo.svg"
         class="logo-image"
         alt="SORE Logo"
         width="48"
         height="48">

    <span class="example-spacer"></span>

    <button *ngIf="isLoggedIn"
            mat-icon-button
            [matMenuTriggerFor]="menu">
        <!-- <mat-icon>account_circle</mat-icon> -->
        <img *ngIf="isLoggedIn"
             [src]="avatarUrl"
             class="avatar-image"
             alt="User Avatar">
    </button>

    <mat-menu #menu="matMenu">
        <button mat-menu-item
                (click)="navigateToProfile()">
            <mat-icon>face</mat-icon>
            <span>My profile</span>
        </button>
        <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>Adjust profile</span>
        </button>
        <button mat-menu-item
                *ngIf="isLoggedIn"
                (click)="logout()">
            <mat-icon> exit_to_app</mat-icon>
            <span>Logout</span>
        </button>
    </mat-menu>

    <button mat-button
            *ngIf="!isLoggedIn"
            (click)="login()">
        Login
    </button>
    <button mat-button
            *ngIf="!isLoggedIn"
            (click)="register()">
        Register
    </button>
</mat-toolbar>