<mat-drawer-container class="sidenav-container">
    <mat-drawer class="left-content"
                mode="side"
                opened>
        <nav>
            <a routerLinkActive="selected"
               routerLink="/homepage">
                <mat-icon>home</mat-icon> Home
            </a>
            <a routerLinkActive="selected"
               routerLink="/news">
                <mat-icon>search</mat-icon> News
            </a>
            <a routerLinkActive="selected"
               routerLink="/events">
                <mat-icon>events</mat-icon> Events
            </a>
            <a routerLinkActive="selected"
               routerLink="/music">
                <mat-icon>library_music</mat-icon> Music
            </a>
            <a routerLinkActive="selected"
               routerLink="/movies">
                <mat-icon>movies</mat-icon> Movies
            </a>
            <a routerLinkActive="selected"
               routerLink="/health">
                <mat-icon>local_hospital</mat-icon> Health and Wellness
            </a>
            <a routerLinkActive="selected"
               routerLink="/technology">
                <mat-icon>important_devices</mat-icon> Technology and Gadgets
            </a>
            <a routerLinkActive="selected"
               routerLink="/lifestyle">
                <mat-icon>card_travel</mat-icon> Lifestyle and Travel
            </a>
            <a routerLinkActive="selected"
               routerLink="/humor">
                <mat-icon>sentiment_very_satisfied</mat-icon> Humor and Memes
            </a>
            <a routerLinkActive="selected"
               routerLink="/education">
                <mat-icon>school</mat-icon> Education and Learning
            </a>
        </nav>
    </mat-drawer>
    <mat-drawer-content class="right-content">
        <router-outlet></router-outlet>
        <!-- <div class="recommended-people">
            <mat-toolbar>Recommended people</mat-toolbar>
            <mat-list>
                <mat-list-item>
                    <p>Viorica</p>
                </mat-list-item>
            </mat-list>
        </div> -->
    </mat-drawer-content>
</mat-drawer-container>