a {
    text-decoration: none;
    color: grey;
    font-size: large;
    margin-bottom: 20px;
    padding: 5px 5px; 
}

a:hover {
    background-color: rgb(220, 220, 220);
    border-radius: 20px;
    padding: 5px 5px; 
}

.selected {
    font-weight: bold;
}

nav {
    display: flex;
    flex-direction: column;
}

.mat-drawer-container {
    padding-top: 64px;
    overflow: hidden;
}

.right-content {
    height: 92vh !important;
}

.mat-drawer {
    top: 64px;
    padding-top: 10px;
    padding-right: 40px;
    padding-left: 100px;
    position: fixed;
    height: calc(100% - 64px);
    z-index: 500;
    box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.24);
}

.mat-drawer-content {
    padding-left: 400px;
    height: 100vh;
    overflow-y: auto;
}

.recommended-people {
    width: 300px; 
    height: calc(100vh - 64px); 
    overflow-y: auto; 
    position: fixed; 
    right: 0; 
    top: 64px; 
  }