<div class="user-profile-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>User Details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput
               placeholder="First Name"
               value={{firstName}}
               [readonly]=true>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput
               placeholder="Last Name"
               value={{lastName}}
               [readonly]=true>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <form [formGroup]="preferencesForm"
        class="category-form"
        (ngSubmit)="onSubmit()">
    <app-category-chips formControlName="categoryJokes"
                        [allFruits]=allCategoryJokes
                        [label]="'categoryJokes'"
                        (fruitsChange)="updateFruits($event, 'categoryJokes')">
    </app-category-chips>
    <app-category-chips formControlName="healthInterests"
                        [allFruits]=allHealthInterests
                        [label]="'healthInterests'"
                        (fruitsChange)="updateFruits($event, 'healthInterests')">
    </app-category-chips>
    <app-category-chips formControlName="newsInterests"
                        [allFruits]=allNewsInterests
                        [label]="'newsInterests'"
                        (fruitsChange)="updateFruits($event, 'newsInterests')">
    </app-category-chips>
    <button type="submit"
            mat-raised-button
            color="primary">Save</button>
  </form>
</div>