<div class="user-profile-container">
  <h2>Profile</h2>

  <mat-card>
    <mat-card-header>
      <mat-card-title>User Details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput
               placeholder="First Name"
               value={{firstName}}
               [readonly]=true>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput
               placeholder="Last Name"
               value={{firstName}}
               [readonly]=true>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <form [formGroup]="profileForm">
    <div *ngFor="let topic of topics">
      <mat-form-field appearance="fill"
                      class="full-width">
        <mat-label>{{ topic }}</mat-label>
        <input matInput
               [formControlName]="topic"
               [readonly]="profileForm.controls[topic].disabled">
      </mat-form-field>
    </div>
    <button mat-raised-button
            color="primary"
            (click)="toggleEdit()">
      {{ profileForm.disabled ? 'Edit' : 'Save' }}
    </button>
  </form>
</div>